@font-face {
  font-family: "TT-Runs";
  font-weight: 500;
  font-style: normal;
  src:
    url("../../fonts/tt-runs-trial-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Runs";
  font-weight: 600;
  font-style: normal;
  src:
    url("../../fonts/tt-runs-trial-demibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Commons";
  font-weight: 400;
  font-style: normal;
  src:
    url("../../fonts/tt-commons-pro-trial-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Commons";
  font-weight: 500;
  font-style: normal;
  src:
    url("../../fonts/tt-commons-pro-trial-medium.woff2") format("woff2");
  font-display: swap;
}
