@use "./variables.scss" as v;
@use "./mixin.scss" as m;

@function size($size-in-px) {
  @return calc($size-in-px / $fz-default * 1rem);
  }

  @function size-desktop($size-in-px) {
    @return calc($size-in-px / $vp-1440 * 100vw);
    }
