@use "./variables.scss" as v;
@use "./mixin.scss" as m;
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-family: v.$ff-default;
  font-size: size-desktop($fz-default);
  color: v.$default-black;

  @include m.vp-1023 {
    font-size: $fz-default;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: v.$light-base;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: $default-black;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;

  &.is-active {
    display: block;
    z-index: 4;
  }
}
