/* Colors */
$default-white: #ffffff;
$default-black: #0e0e0e;

$light-grey: #e4e4e4;
$green: #00ffa9;
$dark-green: #04251a;
$light-base: #f1f1f1;

/*Viewport*/
$vp-1440: 1440px;
$vp-1280: 1280px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-375: 375px;

/*Fonts*/

$ff-default: "TT-Runs", sans-serif;
$ff-second: "TT-Commons", sans-serif;
$fz-default: 16px;