/* GLOBAL */
@import "./common/function.scss";
@import "./common/mixin.scss";
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";


/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/label.scss";
@import "./blocks/presentation.scss";
@import "./blocks/socials.scss";
@import "./blocks/slogan.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/awards.scss";
@import "./blocks/contacts.scss";
@import "./blocks/projects.scss";
@import "./blocks/project-card.scss";
@import "./blocks/banners.scss";
@import "./blocks/footer.scss";


