/* GLOBAL */
@import "./common/function.scss";
@import "./common/mixin.scss";
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";


/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/presentation.scss";
@import "./blocks/socials.scss";
@import "./blocks/awards-widget.scss";
@import "./blocks/contacts.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/portfolio-card.scss";
@import "./blocks/clients.scss";
@import "./blocks/projects.scss";
@import "./blocks/projects-card.scss";
@import "./blocks/banners.scss";
@import "./blocks/awards.scss";
@import "./blocks/footer.scss";


