@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.awards {
    @include m.container;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid $light-grey;
    padding-bottom: size(130px);
    row-gap: size(76px);

    @include vp-1279 {
        row-gap: 60px;
        padding-bottom: 78px;
    }

    @include vp-767 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 68px;
        overflow: hidden;
    }

    &__title {
        padding-top: size(40px);

        @include vp-1279 {
            padding-top: 20px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: size(24px);
        padding-left: size(40px);
        padding-top: size(40px);
        border-left: 1px solid $light-grey;

        @include vp-1279 {
            padding-left: 20px;
            padding-top: 20px;
            gap: 20px;
        }

        @include vp-767 {
            padding: 0;
            border: none;
            gap: 15px;
        }

        p {
            width: 85%;
            font-family: $ff-second;
            font-weight: 400;
            font-size: size(16px);
            line-height: 140%;
            letter-spacing: -0.02em;
            margin: 0;
            opacity: 0.6;

            @include vp-1279 {
                width: 100%;
                font-size: 15px;
            }
        }

        p:first-child {
            width: 70%;
            font-family: $ff-default;
            font-weight: 600;
            font-size: size(26px);
            line-height: 120%;
            letter-spacing: -0.03em;
            opacity: 1;

            br {
                display: none;
            }

            @include vp-1279 {
                width: 100%;
                font-size: 20px;

                br {
                    display: block;
                }
            }
        }
    }

    &__progress {
        @include m.list-reset;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: size(24px);

        @include vp-1279 {
            gap: 15px;
        }

        @include vp-767 {
            gap: 10px;
            padding-top: 22px;
        }

        a {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            @include vp-1279 {
                gap: 10px;
            }

            @include vp-767 {
                gap: 10px;
            }

            p {
                font-weight: 600;
                font-size: size(56px);
                line-height: 90%;
                letter-spacing: -0.03em;
                margin: 0;
                opacity: 0.4;
                margin-right: size(20px);
                transition: opacity 0.3s ease-in;

                @include vp-1279 {
                    margin: 0;
                    font-size: 32px;
                    opacity: 1;
                }

                @include vp-767 {
                    font-size: 28px;
                }

                &:last-child {
                    margin-right: size(25px);

                    @include vp-1279 {
                        margin-right: 0
                    }
                }
            }

            span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease-in;
                width: 0px;
                width: 0;
                height: 0;
                background-color: $green;
                border-radius: size(15px);
                opacity: 0;

                @include vp-1279 {
                    display: none;
                }
            }

            sup {
                font-family: $ff-second;
                font-weight: 500;
                font-size: size(16px);
                line-height: 120%;
                letter-spacing: -0.03em;
                text-transform: lowercase;
                margin-bottom: auto;
                opacity: 0.6;

                @include vp-1279 {
                    margin-left: 6px;
                    font-size: 12px;
                }
            }

            &:hover {
                p {
                    opacity: 1;
                }

                span {
                    width: size(70px);
                    height: size(70px);
                    margin-right: size(20px);
                    opacity: 1;
                }
            }
        }

        li:last-child p {
            @include vp-767 {
                font-size: 32px;
            }
        }
    }

    &__list {
        @include list-reset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: size(20px);
        margin-left: 10px;

        @include vp-1279 {
            gap: 15px;
        }

        @include vp-767 {
            display: flex;
            gap: 10px;
            margin-left: 0;
            margin-top: 10px;
            user-select: none;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;
            cursor: grab;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            gap: size(10px);
            width: size(330px);
            height: size(300px);
            border-radius: 30px;
            padding: size(30px);
            background-color: $default-white;

            @include vp-1279 {
                border-radius: 20px;
                padding: 20px;
                width: 170px;
                height: 170px;
                gap: 4px;

                &:last-child {
                    width: 100%;
                    grid-column: 1/3;
                    grid-row: 3/4;
                }
            }

            @include vp-767 {
                gap: 0;
                flex-shrink: 0;
                border-radius: 15px;
                padding-bottom: 22px;
                width: 190px;
                height: 190px;
                scroll-snap-align: start;
            }

            span {
                font-weight: 600;
                font-size: size(26px);
                line-height: 120%;
                letter-spacing: -0.03em;

                @include vp-1279 {
                    font-size: 20px;
                }
            }

            h3 {
                font-family: $ff-second;
                font-weight: 500;
                font-size: size(15px);
                line-height: 130%;
                letter-spacing: -0.02em;
                margin: 0;
                opacity: 0.6;

                @include vp-1279 {
                    font-size: 15px;
                    margin-top: 4px;
                }
            }

            p {
                font-weight: 600;
                font-size: size(14px);
                line-height: 120%;
                letter-spacing: -0.03em;
                text-transform: lowercase;
                margin: 0;
                margin-top: auto;

                @include vp-1279 {
                    font-size: 12px;
                }

                @include vp-767 {
                    font-size: 13px;
                }
            }
        }
    }
}
