@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.awards-widget {
  &__list {
    @include m.list-reset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: size(10px);
  }

  &__item {
    transition: opacity 0.5s ease-in;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;

      span {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }

  &__link {
    display: flex;
    place-items: center;
    gap: size(11px);
    text-decoration: none;
    transition: opacity 0.5s ease-in;

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: -0.04em;
      text-align: center;
      padding: 0;
      color: v.$default-black;
      opacity: 0.8;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: size(12px);
      width: size(48px);
      height: size(48px);
      background-color: v.$default-white;
      transition: box-shadow 0.5s ease-in;

      img {
        width: size(var(--w));
        height: size(var(--h));
      }
    }
  }
}
