@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.banners {
    @include m.container;
    width: 100%;
    padding-top: size(75px);
    overflow: hidden;

    @include vp-1023 {
        padding-top: 54px;
    }

    &__wrapper {
        position: relative;
    }

    &__slider {
        @include m.list-reset;
        position: relative;
        width: 100%;
        min-height: 650px;
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 42% 58%;
        border-radius: size(30px);
        background-color: $default-white;
        padding-top: size(100px);
        padding-bottom: size(200px);
        padding-left: size(30px);
        padding-right: size(30px);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        @include vp-1023 {
            grid-template-columns: 65% 35%;
            padding: 60px 25px 120px;
        }
    }

    &__slide.is-active {
        opacity: 1;
    }

    &__slide-text {
        display: grid;
        gap: size(30px);

        @include vp-1023 {
            grid-template-rows: max-content;
            gap: 0;
        }
    }

    &__label {
        font-weight: 600;
        font-family: $ff-default;
    }

    p:not(.banners__title p) {
        width: 85%;
        font-family: $ff-second;
        font-weight: 400;
        font-size: size(16px);
        line-height: 140%;
        letter-spacing: -0.02em;
        margin: 0;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: size(2px);

        @include vp-1023 {
            gap: 0;
        }
    }


    &__title-string {
        display: flex;
        align-items: center;

        p,
        span {
            font-weight: 600;
            font-size: size(36px);
            line-height: 100%;
            letter-spacing: -0.03em;
            color: $dark-green;
            margin: 0;
            margin-right: size(12px);

            @include vp-1023 {
                font-size: 28px;
                line-height: 115%;
                margin-right: 8px;
            }

            &:last-child {
                margin: 0;
            }
        }

        span {
            border-radius: size(154px);
            padding: size(2px) size(23px) size(5px);
            line-height: 115%;
            background-color: $green;
            margin: 0;

            @include vp-1023 {
                padding: 2px 18px 5px;
            }
        }
    }

    &__icon--line {
        @include vp-1023 {
            width: 36px;
            height: 29px;
        }
    }

    &__icon--heart,
    &__icon--town {
        @include vp-1023 {
            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__icon--planet {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        padding: size(10px) size(18px);
        border-radius: size(180px);

        @include vp-1023 {
            padding: 8px 14px;
            img {
                width: 22px;
                height: 22px;
            }
        }
    }

    &__slide-pictures {
        position: relative;
        display: flex;
    }

    &__button {
        margin-top: -6px;
    }

    &__toggles {
        @include m.list-reset;
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 2px 10px;
    }


    &__toggle {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $default-black;
        border-radius: 100%;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        opacity: 0.3;
    }

    &__toggle.is-active {
        opacity: 1;
    }

    &__img {
        position: absolute;

        img {
            object-fit: cover;
        }
    }

    &__slide-pictures--realty>&__img--1 {
        top: 210px;
        left: -90px;
    }

    &__slide-pictures--realty>&__img--2 {
        top: -29px;
        left: 187px;
    }

    &__slide-pictures--realty>&__img--3 {
        top: 195px;
        left: 274px;
    }

    &__slide-pictures--realty>&__img--4 {
        top: -22px;
        right: -11px;
    }

    &__slide-pictures--app>&__img--1 {
        top: 243px;
        left: -96px;
        z-index: 2;
    }

    &__slide-pictures--app>&__img--2 {
        top: -51px;
        left: 92px;
    }

    &__slide-pictures--app>&__img--3 {
        top: 314px;
        right: 47px;
        z-index: 2;
    }

    &__slide-pictures--app>&__img--4 {
        top: 20px;
        left: 354px;
    }

    &__slide-pictures--app>&__img--5 {
        top: 402px;
        right: 96px;
        z-index: 2;
    }

    &__slide-pictures--app>&__img--6 {
        top: 141px;
        left: -2px;
    }
}