@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.banners {
    @include m.container;
    position: relative;

    &__slider {
        @include m.list-reset;
    }

    &__slide {
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 30px;
        background-color: $default-white;
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__slogan {
        display: flex;
        flex-direction: column;

        p,
        span {
            font-weight: 600;
            font-size: 36px;
            line-height: 115%;
            letter-spacing: -0.03em;
            color: $dark-green;
            margin: 0;
            margin-right: 10px;
        }

        img {
            margin-right: 5px;

            &:last-of-type {
                border-radius: 154px;
                padding: 10px 18px;
                background-color: $green;
            }
        }

        span {
            border-radius: 154px;
            padding: 2px 23px 5px;
            ;
            background-color: $green;
        }
    }

    p:not(.banners__slogan p) {
        font-weight: 450;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        margin: 0;
    }

    &__slide-pictures {
        display: flex;
    }

    &__slide-realty {
        position: relative;

        div:nth-child(1) img {
            position: absolute;
            top: 50px;
            left: -20px;
        }

        div:nth-child(2) img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        div:nth-child(3) img {
            position: absolute;
            top: 70px;
            left: 0;
        }

        div:nth-child(4) img {
            position: absolute;
            right: 97px;
            top: 128px;
        }


    }

    &__toggles {
        @include m.list-reset;
        position: absolute;
        bottom: 40px;
        left: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 2px 10px;
    }


    &__custom-toggle {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $default-black;
        border-radius: 100%;
        opacity: 0.3;
    }

    &__custom-toggle:checked {
        opacity: 1;
    }
}