@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.banners {
    @include m.container;
    width: 100%;
    padding-top: 75px;

    &__wrapper {
        position: relative;
    }

    &__slider {
        @include m.list-reset;
    }

    &__slide {
        display: grid;
        grid-template-columns: 42% 58%;
        border-radius: 30px;
        background-color: $default-white;
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__slide-text {
        display: grid;
        gap: 30px;
    }

    &__label {
        font-weight: 600;
        font-family: $ff-default;
    }

    p:not(.banners__slogan p) {
        width: 85%;
        font-family: $ff-second;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        margin: 0;
    }

    &__slide-pictures {
        position: relative;
        display: flex;
    }

    &__button {
        margin-top: -6px;
    }

    &__toggles {
        @include m.list-reset;
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 2px 10px;
    }


    &__toggle {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $default-black;
        border-radius: 100%;
        opacity: 0.3;
    }

    &__toggle.is-active {
        opacity: 1;
    }

    &__img {
        position: absolute;

        img {
            object-fit: cover;
        }
    }

    &__slide-pictures--realty>&__img--1 {
        top: 210px;
        left: -90px;
    }

    &__slide-pictures--realty>&__img--2 {
        top: -29px;
        left: 187px;
    }

    &__slide-pictures--realty>&__img--3 {
        top: 195px;
        left: 274px;
    }

    &__slide-pictures--realty>&__img--4 {
        top: -22px;
        right: -11px;
    }

    &__slide-pictures--app>&__img--1 {
        top: 210px;
        left: -90px;
        z-index: 2;
    }

    &__slide-pictures--app>&__img--2 {
        top: -29px;
        left: 90px;
    }

    &__slide-pictures--app>&__img--3 {
        top: 320px;
        right: -20px;
        z-index: 2;
    }

    &__slide-pictures--app>&__img--4 {
        top: 0;
        left: 410px;
    }

    &__slide-pictures--app>&__img--5 {
        top: 425px;
        right: -10px;
        z-index: 2;
    }
}