@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(15px);
  border: none;
  padding: size(22px) size(65px);
  background-color: v.$default-black;
  font-family: $ff-default;
  font-weight: 600;
  font-size: size(14px);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: v.$default-white;
  transition: all 0.3s ease-in;

  @include vp-1279 {
    font-size: 14px;
    border-radius: 12px;
    padding: 17px 52px;
    font-size: 13px;
  }

  @include vp-767 {
    border-radius: 10px;
    padding: 16px 53px;
  }

  &:hover {
    @include only-desktop {
      border-radius: size(30px);
      background-color: $default-white;
      color: $default-black;
      box-shadow: 0px 7px 18px -15px rgba(14, 14, 14, 0.04),0px 20px 20px 0px rgba(14, 14, 14, 0.05),0px 24px 19px -30px rgba(14, 14, 14, 0.25);
    }
  }
}