@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;


.contacts {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: v.$default-black;

  @include vp-1279 {
    gap: 0;
  }

  &__item {
    &:last-child {
      margin-top: size(34px);

      @include vp-1279 {
        margin: 0;

        p {
          font-size: 13px;
          margin-bottom: 10px;
        }
      }

      @include vp-767 {
        display: flex;
        gap: 5px;
        align-items: center;

        p {
          display: none;
        }

        img {
          display: block;
        }
      }
    }

    p {
      font-size: size(13px);
      line-height: 110%;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-transform: lowercase;
      margin: 0 0 5px;
      opacity: 0.6;
    }

    img {
      display: none;
    }
    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }
  }

  &__link {
    position: relative;
    font-family: $ff-second;
    font-weight: 500;
    font-size: size(18px);
    line-height: 125%;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: v.$default-black;
    border-bottom: 1px solid $default-black;

    @include vp-1279 {
      font-size: 15px;
    }
  }

}