@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.footer {
    @include container;
    display: grid;
    grid-template-columns: 53% 47%;
    // row-gap: size(80px);
    padding-top: size(38px);

    @include vp-1279 {
        padding-top: 26px;
    }

    @include vp-767 {
        grid-template-columns: 1fr;
        gap: 25px;
        padding-top: 0;
    }

    &__button {
        grid-area: 1/1/2/2;
        margin-bottom: auto;
        margin-right: auto;
        margin-top: 14px;

        @include vp-1279 {
            grid-area: 2/1/3/2;
            margin-top: 22px;
            padding-left: 47px;
            padding-right: 46px;
        }

        @include vp-767 {
            grid-area: 1/1/2/2;
            padding-bottom: 14px;
            width: 100%;
        }
    }

    &__socials {
        grid-area: 2/1/3/2;
        align-self: center;
        margin-top: auto;
        margin-bottom: 6px;

        @include vp-767 {
            grid-area: 3/1/4/2;
        }
    }

    &__copyright {
        grid-area: 1/1/2/2;
        font-weight: 600;
        font-size: size(18px);
        line-height: 125%;
        letter-spacing: -0.03em;
        margin-top: auto;

        @include vp-1279 {
            font-size: 15px;
        }

        @include vp-767 {
            font-size: 13px;
        }
    }

    &__about {
        grid-area: 1/2/2/3;
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: size(16px);
        column-gap: 10px;
        align-items: center;
        padding-top: size(4px);

        @include vp-1279 {
            grid-area: 1/1/2/-1;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            column-gap: 40px;
        }

        @include vp-767 {
            display: none;
        }
    }

    &__logo {
        grid-area: 1/2/2/-1;
        display: flex;
        gap: size(5px);
        margin-top: size(-14px);
        margin-left: auto;

        p {
            font-weight: 600;
            font-size: size(24px);
            line-height: 120%;
            letter-spacing: -0.01em;
            margin: 0;

            &:last-child {
                text-transform: lowercase;
            }

            @include vp-1279 {
                font-size: 19px;
            }
        }

        @include vp-1279 {
            grid-column: 1/2;
            gap: 6px;
            margin-left: 0;
            margin-right: auto;
        }
    }

    &__text {
        grid-area: 1/1/2/2;
        font-family: $ff-second;
        line-height: 140%;
        letter-spacing: -0.02em;
        margin: 0;

        @include vp-1279 {
            font-weight: 400;
            font-size: 15px;
            grid-column: 2/3;
        }
    }

    &__contacts {
        grid-area: 2/2/3/-1;
        margin-top: size(14px);
        margin-right: auto;

        a {
            font-size: 22px;
        }

        li:last-child {
            margin-top: size(21px);

            a {
                font-size: size(24px);
            }

            p {
                margin-bottom: size(4px);
            }
        }

        @include vp-1279 {
            margin-top: 24px;
            margin-bottom: 20px;
            margin-left: -2px;
            gap: 3px;

            a {
                font-weight: 400;
                font-size: 16px;
            }

            li:last-child {
                margin-top: 14px;

                a {
                    font-family: $ff-second;
                    font-weight: 500;
                    font-size: 24px;
                }

                p {
                    margin-bottom: 5px;
                }
            }
        }

        @include vp-767 {
            grid-area: 2/1/3/2;
            gap: 12px;
            margin-top: 15px;
            margin-bottom: 14px;
            margin-left: 0px;

            li:last-child {
                margin-top: 10px;
            }
        }
    }

    &__slogan-wrapper {
        grid-area: 3/1/4/-1;
        display: grid;
        grid-template-columns: 53% 47%;
        row-gap: size(18px);
        margin-top: size(80px);

        @include vp-1279 {
            row-gap: 16px;
            margin-top: 40px;
        }

        @include vp-767 {
            grid-area: 4/1/5/2;
            row-gap: 4px;
        }
    }

    &__presentation {
        grid-area: 1/2/2/3;

        @include vp-1279 {
            a {
                font-size: 13px;
            }

            span {
                margin-left: 6px;
            }
        }

        @include vp-767 {
            display: none;
        }
    }

    &__slogan {
        grid-area: 2/1/3/4;
        display: grid;
        gap: size(5px);
        margin-left: size(-4px);

        p {
            font-weight: 700;
            font-size: size(87px);
            line-height: 120%;
            letter-spacing: -0.01em;
            text-transform: lowercase;
            margin: 0;
            margin-left: 4px;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.5s ease-in;

            &.animate {
                opacity: 1;
                transform: translateY(0);
            }

            @include vp-1279 {
                font-size: 46px;
            }

            @include vp-767 {
                font-size: 50px;
                margin: -2px 0px 0px 2px;
            }
        }

        span {
            font-family: $ff-second;
            font-weight: 400;
            font-size: $fz-default;
            line-height: 140%;
            letter-spacing: -0.02em;
            opacity: 0.4;

            @include vp-1279 {
                font-size: 15px;
                margin-left: 4px;
            }

            @include vp-767 {
                margin-top: 4px;
            }
        }
    }
}