@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.footer {
    @include container;
    display: grid;
    grid-template-columns: 53% 47%;
    row-gap: size(80px);
    padding-top: size(38px);

    &__button {
        grid-area: 1/1/2/2;
        margin-bottom: auto;
        margin-right: auto;
        margin-top: 14px;
        // margin-left: -4px;
    }

    &__socials {
        grid-area: 1/1/2/2;
        align-self: center;
        margin-top: auto;
        margin-bottom: 6px;
        // margin-left: -4px;
    }

    &__copyright {
        grid-area: 1/1/2/2;
        font-weight: 600;
        font-size: size(18px);
        line-height: 125%;
        letter-spacing: -0.03em;
        margin-top: auto;
        // margin-left: -4px;
    }

    &__about {
        grid-area: 1/2/2/3;
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: size(16px);
        column-gap: 10px;
        align-items: center;
        padding-top: 14px;
    }

    &__logo {
        // position: relative;
        // right: -3px;
        grid-area: 1/2/2/-1;
        display: flex;
        gap: size(5px);
        margin-top: size(-14px);
        margin-left: auto;

        p {
            font-weight: 600;
            font-size: size(24px);
            line-height: 120%;
            letter-spacing: -0.01em;
            margin: 0;

            &:last-child {
                text-transform: lowercase;
            }
        }
    }

    &__text {
        grid-area: 1/1/2/2;
        font-family: $ff-second;
        line-height: 140%;
        letter-spacing: -0.02em;
        margin: 0;
    }

    &__contacts {
        grid-area: 2/1/3/-1;
        margin-top: size(14px);
        margin-right: auto;

        a {
            font-size: 22px;
        }

        li:last-child {
            margin-top: 18px;

            a {
                font-size: 24px;
            }

            p {
                margin-bottom: 6px;
            }
        }
    }

    &__slogan-wrapper {
        grid-area: 2/1/3/-1;
        display: grid;
        row-gap: size(18px);
        grid-template-columns: 53% 47%;
    }

    &__presentation {
        grid-area: 1/2/2/3;
    }

    &__slogan {
        grid-area: 2/1/3/4;
        display: grid;
        gap: size(5px);
        margin-left: size(-4px);

        p {
            font-weight: 700;
            font-size: size(87px);
            line-height: 120%;
            letter-spacing: -0.01em;
            text-transform: lowercase;
            margin: 0;
        }

        span {
            font-family: $ff-second;
            font-weight: 400;
            font-size: $fz-default;
            line-height: 140%;
            letter-spacing: -0.02em;
            opacity: 0.4;
        }
    }
}