@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.footer {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    &__button {
        grid-area: 1/1/2/2;
        margin-bottom: auto;
        margin-right: auto;
    }

    &__socials {
        grid-area: 2/1/3/2;
        align-self: center;
    }

    &__copyright {
        grid-area: 3/1/4/2;
        font-weight: 600;
        font-size: size(18px);
        line-height: 125%;
        letter-spacing: -0.03em;
    }
    &__text {
        font-family: $ff-second;
    }
    &__about {
        grid-area: 1/2/2/3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        gap: 5px;

        p {
            font-weight: 600;
            font-size: size(24px);
            line-height: 120%;
            letter-spacing: -0.01em;
            margin: 0;
            &:last-child {
                text-transform: lowercase;
            }
        }
    }

    &__contacts {
        grid-area: 2/2/3/3;
    }

    &__presentation {
        grid-area: 3/2/4/3;
    }

    &__slogan {
        grid-area: 4/1/5/3;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            font-weight: 700;
            font-size: size(87px);
            line-height: 120%;
            letter-spacing: -0.01em;
            text-transform: lowercase;
            margin: 0;
        }

        span {
            font-family: $ff-second;
            font-weight: 400;
            font-size: $fz-default;
            line-height: 140%;
            letter-spacing: -0.02em;
            opacity: 0.4;
        }
    }
}