@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.header {
  position: relative;
  padding-top: size(12px);
  padding-bottom: size(12px);
  border-bottom: 1px solid v.$light-grey;

  &__container {
    @include m.container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: size(73px);
      height: size(24px);

      @include vp-767 {
        width: 52px;
        height: 17px;
      }
    }
  }

  &__toggle {
    display: none;

    @include m.vp-1023 {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border: none;
      background-color: transparent;

      span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: v.$default-black;
      }
    }
  }
}
