@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.header {
  position: relative;
  padding-top: size(11px);
  padding-bottom: size(10px);
  border-bottom: 1px solid v.$light-grey;

  @include vp-1023 {
    padding-top: 16px;
    padding-bottom: 17px;
  }

  &__container {
    @include m.container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    img {
      width: size(73px);
      height: size(24px);

      @include vp-1023 {
        width: 55px;
        height: 18px;
      }

      @include vp-767 {
        width: 52px;
        height: 17px;
      }
    }
  }

  &__toggle {
    display: none;

    @include m.vp-1023 {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      border: none;
      background-color: transparent;
      z-index: 10;
      margin-right: -4px;

      span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        background-color: v.$default-black;
        transition: transform 0.3s ease-in, margin 0.3s ease-in;
      }
    }

    &.is-open {
      span:first-child {
        top: 8px;
        transform: rotate(45deg);
      }

      span:last-child {
        top: 2px;
        transform: rotate(-45deg);
      }
    }
  }
}