@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.hero {
  @include m.container;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: size(214px);
  border-bottom: 1px solid v.$light-grey;
  margin-bottom: size(65px);

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }

  &__title {
    grid-area: 1/1/2/2;
    font-weight: 600;
    font-size: size(50px);
    line-height: 125%;
    letter-spacing: -0.03em;
    margin: 0;

    @include vp-1023 {
      font-size: 38px;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: -0.01em;
    }
  }

  &__media {
    position: absolute;
    top: 25%;
    left: calc(50% - size(228px));
    width: size(456px);
    height: size(230px);
    border-radius: 20px;
    overflow: hidden;

    @include vp-1023 {
      border-radius: 12px;
      left: calc(50% - 208px);
      width: 416px;
      height: 226px;
    }

    @include vp-767 {
      border-radius: 15px;
      left: calc(50% - 112px);
      width: 225px;
      height: 135px;
    }
  }

  &__awards {
    @include vp-1023 {
      display: none;
    }
  }

  &__content {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
    }
  }

  &__counter {
    height: fit-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    grid-template-rows: auto auto;
    gap: size(5px) size(15px);

    @include vp-1023 {
      gap: 15px 8px;
    }

    p {
      margin: 0;
    }

    p:first-of-type {
      font-weight: 600;
      font-size: size(56px);
      line-height: 90%;
      letter-spacing: -0.03em;

      @include vp-767 {
        font-size: 32px;
      }
    }

    p:last-of-type {
      grid-area: 2 / 1 / 3 / -1;
      font-size: size(13px);
      line-height: 110%;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-transform: lowercase;
      opacity: 0.6;

      @include vp-1023 {
        font-size: 13px;
      }

      @include vp-767 {
        grid-area: 2/1/3/-1;
        font-size: 12px;
      }
    }

    span {
      grid-area: 1/2/2/-1;
      display: block;
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.01em;

      @include vp-1023 {
        font-size: 15px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 122%;
      }
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 55% 45%;

    @include vp-767 {
      display: flex;
      grid-area: 2/1/3/-1;
    }

    p {
      @include text;

      @include vp-767 {
        display: none;
      }
    }
  }

  &__presentation {
    grid-area: 2 / 1 / 3 / 2;

    @include vp-767 {
      display: none;
    }
  }

  &__button {
    grid-area: 1/2/3/3;
    margin-top: auto;
    margin-left: auto;

    @include vp-767 {
      width: 100%;
      margin: 0;
    }
  }
}