@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.hero {
  @include m.container;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: size(215px);
  border-bottom: 1px solid v.$light-grey;
  margin-bottom: size(65px);
  padding-top: size(60px);
  padding-bottom: size(38px);

  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 18px;
    margin-bottom: 0;
    row-gap: 560px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 332px;
    padding-top: 35px;
    padding-bottom: 15px;
  }

  &__title {
    grid-area: 1/1/2/2;
    font-weight: 600;
    font-size: size(50px);
    line-height: 125%;
    letter-spacing: -0.03em;
    margin: 0;

    @include vp-1023 {
      font-size: 38px;
      letter-spacing: -0.01em;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: -0.01em;
    }
  }

  &__media {
    position: absolute;
    top: calc(50% - size(161px));
    left: calc(50% - size(228px));
    width: size(456px);
    height: size(230px);
    background-color: $default-black;
    border-radius: size(20px);
    overflow: hidden;

    @include vp-1023 {
      border-radius: 12px;
      left: calc(50% - 208px);
      top: calc(50% - 195px);
      width: 416px;
      height: 226px;
    }

    @include vp-767 {
      border-radius: 15px;
      left: calc(50% - 112px);
      top: calc(50% - 112px);
      width: 225px;
      height: 135px;
    }
  }

  &__awards {
    @include vp-1023 {
      display: none;
    }
  }


  &__content {
    grid-area: 2 / 1 / 3 / 3;
    grid-template-columns: 20% 30% 27% 24%;
    display: grid;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      row-gap: 51px;
    }
  }

  &__counter {
    grid-area: 1/1/3/2;
    height: fit-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    grid-template-rows: auto auto;
    gap: size(5px) size(15px);
    margin-top: auto;
    padding-bottom: 25px;

    @include vp-1023 {
      grid-area: 1/1/2/2;
      gap: 15px 8px;
      padding: 0;
    }

    @include vp-767 {
      margin-top: 2px;
      gap: 9px 6px;
    }

    p {
      margin: 0;
    }

    p:first-of-type {
      grid-area: 1 / 1 / 3 / 2;
      font-weight: 600;
      font-size: size(56px);
      line-height: 90%;
      letter-spacing: -0.03em;

      @include vp-1023 {
        grid-area: 1/1/2/2;
        font-size: 38px;
      }

      @include vp-767 {
        font-size: 32px;
      }
    }

    p:last-of-type {
      grid-area: 2 / 2 / 3 / -1;
      font-size: size(13px);
      line-height: 110%;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-transform: lowercase;
      opacity: 0.6;

      @include vp-1023 {
        grid-area: 2/1/3/-1;
        width: 60%;
        font-size: 13px;
      }

      @include vp-767 {
        grid-area: 2/1/3/-1;
        width: 100%;
        font-size: 12px;
      }
    }

    span {
      grid-area: 1/2/2/-1;
      display: block;
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.01em;

      @include vp-1023 {
        font-size: 15px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 122%;
      }
    }
  }

  &__contacts {
    grid-area: 1/2/3/3;
    margin: 0 auto;

    @include vp-1023 {
      grid-area: 1/2/2/4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      margin-right: auto;
      margin-left: 21px;
      column-gap: 40px;
      row-gap: 8px;

      li {
        grid-column: 1/2;
      }

      li:last-child {
        grid-area: 1/2/3/2;
        margin-bottom: auto;

        @include vp-767 {
          margin-top: 10px;
        }
      }
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: 0;
      row-gap: 6px;
    }
  }

  &__text {
    display: flex;
    gap: 10px;
    grid-area: 1/3/3/4;
    margin-bottom: 68px;
    margin-left: 40px;
    margin-top: -4px;

    @include vp-1023 {
      grid-area: 2/2/3/4;
      margin-bottom: 0;
      margin-left: 20px;
    }

    p {
      @include text;

      @include vp-767 {
        display: none;
      }
    }
  }

  &__presentation {
    grid-area: 2/3/3/4;
    margin-left: 40px;

    @include vp-1023 {
      grid-area: 3/1/4/2;
      margin: 22px 0;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__button {
    grid-area: 1/4/3/5;
    margin-top: auto;
    margin-left: auto;
    margin-right: 14px;

    @include vp-1023 {
      grid-area: 3/2/4/4;
      margin-right: auto;
      margin-left: 20px;
    }

    @include vp-767 {
      grid-area: 2/1/3/-1;
      width: 100%;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 14px;
    }
  }
}