@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.hero {
  @include m.container;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: size(214px);
  border-bottom: 1px solid v.$light-grey;
  margin-bottom: size(65px);

  &__title {
    grid-area: 1/1/2/2;
    font-weight: 600;
    font-size: size(50px);
    line-height: 125%;
    letter-spacing: -0.03em;
    margin: 0;

    @include vp-1023 {
      font-size: 38px;
    }
  }

  &__media {
    position: absolute;
    top: 25%;
    left: 38vw;
    width: size(456px);
    height: size(230px);
    border-radius: 20px;
    overflow: hidden;
    
    @include vp-1023 {
      border-radius: 12px;
      width: 416px;
      height: 226px;
    }
  }

  &__awards {
    @include vp-1023 {
      display: none;
    }
  }

  &__content {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }

  &__counter {
    height: fit-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    grid-template-rows: auto auto;
    gap: size(5px) size(15px);

    @include vp-1023 {
      gap: 15px 8px;
    }

    p {
      margin: 0;
    }

    p:first-of-type {
      font-weight: 600;
      font-size: size(56px);
      line-height: 90%;
      letter-spacing: -0.03em;

      @include vp-1023 {}
    }

    p:last-of-type {
      font-size: size(13px);
      line-height: 110%;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-transform: lowercase;
      opacity: 0.6;

      @include vp-1023 {
        font-size: 13px;
      }
    }

    span {
      display: block;
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.01em;

      @include vp-1023 {
        font-size: 15px;
      }
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 55% 45%;

    p {
      @include text;
    }
  }

  &__presentation {
    grid-area: 2 / 1 / 3 / 2;
  }

  &__button {
    grid-area: 1/2/3/3;
    margin-top: auto;
    margin-left: auto;
  }
}