@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.hero {
  @include m.container;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border-bottom: 1px solid v.$light-grey;
  margin-bottom: size(65px);

  &__title {
    grid-area: 1/1/2/3;
    font-weight: 600;
    font-size: size(50px);
    line-height: 125%;
    letter-spacing: -0.03em;
    margin: 0;
  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/3/4;
    padding-top: size(154px);
    padding-bottom: size(110px);

    video {
      display: block;
      border-radius: 20px;
      width: size(456px);
      height: size(230px);
      background-color: black;

    }
  }

  &__awards {
    grid-area: 1/3/2/-1;
  }

  &__counter {
    height: fit-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    grid-template-rows: auto auto;
    gap: size(5px) size(15px);

    p {
      margin: 0;
    }

    p:first-of-type {
      grid-area: 1/1/-1/2;
      font-weight: 600;
      font-size: size(56px);
      line-height: 90%;
      letter-spacing: -0.03em;
    }

    p:last-of-type {
      font-size: size(13px);
      line-height: 110%;
      grid-area: 2/2/3/-1;
      font-weight: 500;
      letter-spacing: -0.04em;
      text-transform: lowercase;
      opacity: 0.6;
    }

    span {
      display: block;
      grid-area: 1/2/2/2;
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.01em;
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 55% 45%;

    p {
      @include text;
    }
  }

  &__presentation {
    grid-area: 2 / 1 / 3 / 2;
  }

  &__button {
    grid-area: 1/2/3/3;
    margin-top: auto;
    margin-left: auto;
  }
}
