@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.nav {
  display: flex;
  align-items: center;
  gap: size(30px);
  margin-right: size(-4px);

  @include vp-1279 {
    transform: translateY(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: transform 0.3s ease-in, opacity 0s ease;
  }

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;

    @include vp-1279 {
      display: grid;
      grid-template-columns: 90% 10%;
      row-gap: 20px;
      column-gap: 20px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 100px;
      padding-top: 100px;
      background-color: $light-base;
      box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.16);
      z-index: 5;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__list {
    @include m.list-reset;
    display: flex;
    flex-wrap: wrap;
    column-gap: size(32px);
    row-gap: size(10px);

    @include vp-1279 {
      grid-area: 1/1/2/2;
      flex-direction: column;
      row-gap: 30px;
    }

    @include vp-767 {
      margin-right: auto;
    }
  }

  &__link {
    font-size: size(13px);
    line-height: 110%;
    text-decoration: none;
    color: v.$default-black;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    transition: opacity 0.3s ease-in;

    @include vp-1279 {
      font-size: 24px;
      font-weight: 600;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }
  }

  &__button {
    display: flex;
    gap: size(10px);
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    @include vp-1279 {
      grid-area: 2/2/3/-1;
      margin-left: auto;
      margin-top: auto;
    }

    @include vp-767 {
      display: none;
    }

    &:hover {
      @include only-desktop {
        opacity: 0.6;
      }
    }
  }

  &__button-count {
    font-family: $ff-default;
    font-weight: 500;
    font-size: size(13px);
    line-height: 110%;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: size(36px);
    height: size(36px);
    background-color: v.$default-black;
    cursor: pointer;

  }

  &__contacts {
    display: none;

    @include vp-1279 {
      grid-area: 2/1/3/2;
      display: block;
      justify-self: flex-end;

      li:last-child {
        margin-top: 20px;
      }
    }

    @include vp-767 {
      margin: 0;
      margin-right: auto;
    }
  }

  &__socials {
    display: none;

    @include vp-1279 {
      grid-area: 1/2/3/-1;
      margin-left: auto;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    @include vp-767 {
      flex-direction: row;
      margin: 0;
      margin-right: auto;
    }
  }
}