@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: size(24px);
  width: 100%;
  height: 100%;
  cursor: pointer;

  @include vp-1279 {
    gap: size(20px);
  }

  @include vp-767 {
    width: 315px;

    flex-shrink: 0;
    scroll-snap-align: center;
    cursor: grab;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: size(30px);
    transition: transform 0.5s ease-in, border-radius 0.5s ease-in;
    overflow: hidden;

    img {
      width: size(447px);
      height: size(450px);
      transition: transform 0.5s ease-in, object-position 0.5s ease-in;

      @include vp-1279 {
        width: 100%;
        height: auto;
      }
    }

    @include vp-1279 {
      border-radius: size(20px);
    }

    // @include vp-767 {
    //   width: 315px;
    //   height: 315px;
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: size(10px);
    padding: 0 size(20px);

    @include vp-1279 {
      padding: 0 size(15px);
      gap: size(8px);
    }

    h4 {
      font-weight: 600;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.03em;
      margin: 0;

      @include vp-1279 {
        font-size: size(15px);
      }
    }

    p {
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(15px);
      line-height: 130%;
      letter-spacing: -0.02em;
      margin: 0;

      @include vp-1279 {
        font-size: size(15px);
      }
    }
  }

  &:hover {
    .project-card__img {
      transform: scale(1.05);
      border-radius: size(65px);

      @include vp-767 {
        transform: none;
        border-radius: unset;
      }
    }

    img {
      transform: scale(1.05) translate(5px, -5px);

      @include vp-767 {
        transform: none;
      }
    }
  }
}