@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.portfolio {
  @include m.container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: size(24px);
  border-top: 1px solid v.$light-grey;
  margin-top: size(66px);

  @include vp-1279 {
    row-gap: size(20px);
    margin-top: size(78px);
    padding-top: size(21px);
    padding-top: size(70px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 0;
    overflow: hidden;
  }

  &__text-wrapper {
    grid-area: 1/2/2/3;
    display: grid;
    row-gap: 24px;
    padding-left: size(40px);
    padding-top: size(40px);
    border-left: 1px solid v.$light-grey;

    @include vp-1279 {
      padding-left: size(20px);
    }
  }

  &__desk {
    font-weight: 600;
    font-size: size(26px);
    line-height: 120%;
    letter-spacing: -0.03em;
    margin: 0;

    @include vp-1279 {
      font-size: size(20px);
    }
  }

  &__text {
    width: 80%;
    display: grid;
    gap: size(5px);
    opacity: 0.6;

    @include vp-1279 {
      width: 100%;
    }

    @include vp-767 {
      gap: 6px;
    }

    p {
      @include text;
    }

    p:first-child {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    p:last-child {
      @include vp-767 {
        font-size: 15px;
      }
    }
  }

  &__title {
    grid-area: 1/1/2/2;
    padding-top: size(40px);

    @include vp-767 {
      padding-top: 76px;
    }
  }

  &__wrapper {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: size(80px) size(19px);
    padding-top: size(54px);

    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
      gap: size(60px) size(15px);
      justify-items: center;
      padding-top: size(40px);
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 60px;
      padding-top: 10px;
    }
  }

  &__list {
    display: contents;

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 40px;

    }
  }

  &__items {
    display: contents;

    @include vp-767 {
      display: flex;
      gap: 10px;
      padding-right: 0;
      user-select: none;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      cursor: grab;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__list h3 {
    display: none;

    @include vp-767 {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.03em;
      margin: 0;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin: size(56px) auto size(5px);

    @include vp-1279 {
      margin-top: size(28px);
    }

    @include vp-767 {
      margin-top: 17px;
      width: 100%;
      padding-bottom: 13px;
      margin-bottom: 2px;
    }
  }
}