@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.presentation {
    display: flex;
    place-items: center;
    gap: 5px;

    a {
        border-radius: size(15px);
        padding: size(16px) size(15px);
        color: v.$default-black;
        background-color: v.$default-white;
        text-decoration: none;
    }

    p {
        font-size: size(13px);
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -0.04em;
        text-transform: lowercase;
        opacity: 0.6;
    }
}