@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.presentation {
    display: flex;
    align-items: center;
    gap: 5px;

    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: lowercase;
        text-align: center;
        border-radius: size(15px);
        padding: size(16px) size(15px);
        color: v.$default-black;
        background-color: v.$default-white;
        text-decoration: none;

        @include vp-1023 {
            border-radius: 12px;
            padding: 14px;
        }
    }

    span {
        font-size: size(13px);
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -0.04em;
        text-transform: lowercase;
        margin-left: 10px;
        opacity: 0.6;

        @include vp-1023 {
            font-size: 13px;
        }
    }
}