@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.projects {
    @include m.container;
    display: flex;
    flex-direction: column;
    gap: size(80px);

    &__container {
        display: grid;
        grid-template-columns: 50% 32% 18%;
    }

    &__title {
        grid-area: 1/1/2/2;
    }

    p {
        grid-area: 1/2/2/3;
        font-weight: 600;
        font-size: size(26px);
        line-height: 120%;
        letter-spacing: -0.03em;
        margin: 0;

        @include vp-1023 {
            font-size: 20px;
        }
    }

    &__slider-container {
        position: relative;
        width: 100%;
    }

    &__slider {
        @include m.list-reset;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    &__buttons {
        grid-area: 1/3/2/4;
        display: flex;
        flex-wrap: wrap;
        gap: size(15px);
    }

    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: size(15px);
        padding: size(20px);
        width: size(61px);
        height: size(61px);
        background-color: $default-white;
        color: $default-black;
        cursor: pointer;

        @include vp-1023 {
            border-radius: 12px;
            width: 48px;
            height: 48px;
        }

        &--prev ::before {
            position: absolute;
            content: "<";
        }

        &--next::before {
            position: absolute;
            content: ">";
        }
    }

}