@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.project-card {
  display: flex;
  flex-direction: column;
  gap: size(24px);
  cursor: pointer;

  @include vp-1023 {
    gap: 20px;
  }


  &__img {
    display: flex;
    position: relative;
    border-radius: size(30px);
    width: size(447px);
    height: size(450px);
    transition: transform 0.5s ease-in, border-radius 0.5s ease-in;
    overflow: hidden;

    @include vp-1023 {
      border-radius: 20px;
      width: 357px;
      height: 349px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      transition: transform 0.5s ease-in, object-position 0.5s ease-in;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: size(10px);
    padding: 0 20px;

    h3 {
      font-weight: 600;
      font-size: size(18px);
      line-height: 125%;
      letter-spacing: -0.03em;
      margin: 0;

      @include vp-1023 {
        font-size: 15px;
      }
    }

    p {
      font-family: $ff-second;
      font-weight: 500;
      font-size: size(15px);
      line-height: 130%;
      letter-spacing: -0.02em;
      margin: 0;

      @include vp-1023 {
        font-size: 15px;
      }
    }
  }

  &:hover {
    .project-card__img {
      transform: scale(1.05);
      border-radius: size(65px);
    }

    img {
      transform: scale(1.05) translate(5px, -5px);
    }
  }
}