@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.projects {
    display: flex;
    flex-direction: column;
    gap: size(57px);

    @include vp-1279 {
        gap: 36px;
    }

    @include vp-767 {
        gap: 20px;
        padding-bottom: 50px;
    }


    &__container {
        @include m.container;
        border-top: 1px solid v.$light-grey;
        display: grid;
        grid-template-columns: 50% 38% 12%;

        @include vp-1279 {
            grid-template-columns: 50% 35% 15%;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
            gap: 22px;
        }
    }

    &__title {
        grid-area: 1/1/2/2;
        padding-top: size(40px);

        @include vp-1279 {
            padding-top: 20px;
        }
    }

    p {
        grid-area: 1/2/2/3;
        font-weight: 600;
        font-size: size(26px);
        line-height: 120%;
        letter-spacing: -0.03em;
        margin: 0;
        border-left: 1px solid v.$light-grey;
        padding-top: size(40px);
        padding-left: size(40px);

        @include vp-1279 {
            font-size: 20px;
            padding-top: 20px;
            padding-left: 20px;
        }

        @include vp-767 {
            border-left: none;
            padding: 0;
        }
    }

    &__slider-container {
        position: relative;
        width: 100%;
        padding-left: size(30px);

        @include vp-1279 {
          padding-left: 20px;
        }

        @include vp-767 {
            padding-left: 15px;
        }
    }

    &__slider {
        @include m.list-reset;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        padding: 20px;
        margin: 0 -20px 0 -20px;

        @include vp-1279 {
            padding-left: 10px;
            margin: 0;
            padding-left: 0;
        }

        @include vp-767 {
            user-select: none;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;
            cursor: grab;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__buttons {
        grid-area: 1/3/2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: size(15px);
        margin-top: auto;
        margin-left: auto;
        margin-bottom: 4px;

        @include vp-1279 {
            margin: 0;
            padding-top: 20px;
        }

        @include vp-767 {
            display: none;
        }
    }

    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: size(15px);
        width: size(61px);
        height: size(61px);
        background-color: $default-white;
        color: $default-black;
        transition: filter 0.5s ease-in;
        cursor: pointer;

        @include vp-1279 {
            border-radius: 12px;
            width: 48px;
            height: 48px;
        }

        img {
            display: block;
            width: size(20px);
            height: size(20px);

            @include vp-1279 {
                width: 16px;
                height: 16px;
            }
        }

        &:hover {
            filter: invert(1);

            @include vp-1279 {
                filter: none;
            }
        }
    }
}
