@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.projects {
  @include m.container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  border-top: 1px solid v.$light-grey;
  margin-top: size(66px);
  padding-top: size(40px);

  @include vp-767 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  h2 {
    grid-area: 1/2/2/3;
    font-weight: 600;
    font-size: size(26px);
    line-height: 120%;
    letter-spacing: -0.03em;
    margin: 0;
    margin-left: size(40px);

    @include vp-1023 {
      font-style: 22px;
    }
  }

  &__text {
    grid-area: 2/2/3/3;
    width: 80%;
    display: grid;
    gap: 5px;
    margin-left: size(40px);
    opacity: 0.6;

    p {
      @include text;
    }

    p:first-child {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  &__label {
    grid-area: 1/1/2/2;
  }

  &__wrapper {
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: size(80px) size(19px);
    padding-top: 54px;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      gap: 60px 15px;
      justify-items: center;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 46px;
    }
  }

  &__list {
    display: contents;

    @include vp-767 {
      //
      width: 100vw;
      //
      display: flex;
      flex-direction: column;
      gap: 40px;
      overflow: hidden;
      user-select: none;

    }
  }

  &__items {
    display: contents;

    @include vp-767 {
      display: flex;
      gap: 10px;
      transition: transform 0.8s ease-in-out;
      //
      cursor: grab;
      overflow-x: scroll;
      scrollbar-width: none;
      padding-right: 0;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &__list h3 {
    display: none;

    @include vp-767 {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.03em;
      margin: 0;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin: 56px auto 5px;
  }
}