@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.projects {
  @include m.container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: size(24px);
  border-top: 1px solid v.$light-grey;
  margin-top: size(66px);
  padding-top: size(40px);

  @include vp-1023 {
    row-gap: 20px;
    margin-top: 78px;
    padding-top: 21px;
    padding-top: 70px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 0;
    overflow: hidden;
  }

  h2 {
    grid-area: 1/2/2/3;
    font-weight: 600;
    font-size: size(26px);
    line-height: 120%;
    letter-spacing: -0.03em;
    margin: 0;
    margin-left: size(40px);

    @include vp-1023 {
      font-size: 20px;
      margin-left: 20px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &__text {
    grid-area: 2/2/3/3;
    width: 80%;
    display: grid;
    gap: 5px;
    margin-left: size(40px);
    opacity: 0.6;

    @include vp-1023 {
      width: 100%;
      margin-left: 20px;
    }

    @include vp-767 {
      gap: 6px;
      margin: 0;
    }

    p {
      @include text;
    }

    p:first-child {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    p:last-child {
      @include vp-767 {
        font-size: 15px;
      }
    }
  }

  &__label {
    grid-area: 1/1/2/2;

    @include vp-767 {
      padding-top: 76px;
    }
  }

  &__wrapper {
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: size(80px) size(19px);
    padding-top: size(54px);

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      gap: 60px 15px;
      justify-items: center;
      padding-top: 40px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 60px;
      padding-top: 10px;
    }
  }

  &__list {
    display: contents;

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      overflow: hidden;
      // user-select: none;

    }
  }

  &__items {
    display: contents;

    @include vp-767 {
      display: flex;
      gap: 10px;
      padding-right: 0;
      transition: transform 0.8s ease-in-out;
      cursor: grab;
      // overflow-x: scroll;
      // scrollbar-width: none;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &__list h3 {
    display: none;

    @include vp-767 {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.03em;
      margin: 0;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin: size(56px) auto size(5px);

    @include vp-1023 {
      margin-top: 28px;
    }

    @include vp-767 {
      margin-top: 17px;
      width: 100%;
      padding-bottom: 14px;
    }
  }
}