@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.slogan {
    display: flex;
    flex-direction: column;
    gap: 2px;
    &__string {
        display: flex;
        align-items: center;
        p,
        span {
            font-weight: 600;
            font-size: size(36px);
            line-height: 100%;
            letter-spacing: -0.03em;
            color: $dark-green;
            margin: 0;
            margin-right: size(12px);

            &:last-child {
                margin: 0;
            }
        }

        picture:last-child img{
            border: 1px solid red;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            padding: size(10px) size(18px);
            border-radius: size(180px);
        }

        span {
            border-radius: size(154px);
            padding: size(2px) size(23px) size(5px);
            line-height: 115%;
            background-color: $green;
            margin: 0;
        }
    }
}