@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.socials {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: size(5px);

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: size(14px);
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: lowercase;
        text-align: center;
        border-radius: size(12px);
        padding: size(16px) size(13px);
        width: size(48px);
        height: size(48px);
        background-color: $default-white;
        text-decoration: none;
        transition: opacity 0.5s ease-in, box-shadow 0.5s ease-in;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.6;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
    }
}
