@use "../common/variables.scss" as v;
@use "../common/mixin.scss" as m;

.socials {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: size(5px);

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: size(14px);
        line-height: 120%;
        letter-spacing: -0.03em;
        text-transform: lowercase;
        text-align: center;
        border-radius: size(12px);
        padding: size(16px) size(13px);
        width: size(48px);
        height: size(48px);
        background-color: $default-white;
        text-decoration: none;
    }
}