@use "../common/variables.scss";
@use "../common/mixin.scss";

.title {
  font-family: $ff-second;
  font-weight: 500;
  font-size: size($fz-default);
  line-height: 120%;
  letter-spacing: -0.03em;
  margin: 0;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 13px;
  }
}
